@media (max-width: 1200px) {
  .container {
    max-width: 1000px;
  }
  .plat-left-img img {
    padding-left: 0;
  }
  .award-item {
    margin: 0 80px;
  }
  .number-section {
    padding: 80px 100px;
  }
  .num-text {
    margin: 0;
    text-align: right;
  }
  .c-text p {
    padding-right: 0;
  }
  .company-item {
    flex-wrap: wrap;
    justify-content: right;
  }
}
@media (max-width: 992px) {
  .header-section {
    background: transparent;
    padding: 20px 0;
    position: sticky;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    z-index: 9999;
  }
  .banner-section {
    margin-top: 65px;
  }
  .market-page-1 {
    background-image: url(img/main-bg.png);
    background-color: #212224;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .hdr-nav {
    position: relative;
  }
  .hdr-nav ul li {
    display: block;
  }
  .hdr-nav ul {
    display: flex;
    background: rgba(0, 0, 0, 0.938);
    height: 100vh;
    position: absolute;
    width: 100%;
    z-index: 999;
    flex-direction: column;
    justify-content: start;
    opacity: 0;
    visibility: hidden;
    overflow-y: scroll;
    padding-top: 100px;
  }
  .hdr-nav ul li a {
    font-size: 35px;
  }
  .hdr-nav ul li {
    margin: 20px 0;
    text-align: center;
  }
  .check {
    position: absolute;
    top: 0;
    right: 5px;
    display: block;
    width: 35px;
    height: 35px;
    opacity: 0;
    cursor: pointer;
  }
  .three-dot {
    visibility: visible;
    opacity: 100%;
    display: block;
  }
  .three-dot i {
    position: absolute;
    top: 0;
    right: 5px;
    pointer-events: none;
    font-size: 38px;
    color: #fff;
  }
  .hdr-nav .check:checked ~ ul {
    opacity: 1;
    visibility: visible;
    height: 100vh;
    width: 100%;
    position: fixed;
    right: 0;
    top: 73px;
  }
  .cross {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 8px;
    display: block;
    cursor: pointer;
  }
  .cross i {
    color: #fff;
    font-size: 40px !important;
  }
  .check:checked ~ .cross {
    visibility: visible;
    opacity: 100%;
    pointer-events: none;
  }
  .check:checked ~ .three-dot {
    visibility: hidden;
    opacity: 0;
  }
  .account-btn > a {
    font-size: 11px;
    padding: 10px 12px;
  }
  .user-login {
    margin-left: 20px;
  }
  .banner-bottom {
    display: none;
  }
  .banner-text {
    margin: 0 0 30px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .banner-bg {
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .banner-text P {
    display: none;
  }
  .banner-text h1 {
    font-size: 40px;
    margin-bottom: 40px;
    text-align: center;
  }
  .banner-img img {
    width: 100%;
    height: auto;
  }
  .banner-carousel {
    top: 0;
  }
  .bann-inner {
    padding: 0 30px;
  }
  .tool-id-img img {
    right: -10px;
  }
  .tool-item-details {
    margin-bottom: 50px;
  }
  .tool-section {
    padding: 60px 0 40px 0;
  }
  .service-text {
    padding: 0 35px 0 0;
  }
  .plat-left-img img {
    margin-left: 50px;
    width: 100%;
    margin-top: 80px;
  }
  .plat-right-text h3 {
    font-size: 32px;
  }
  .pci-icon {
    padding: 10px 15px;
  }
  .pci-icon i {
    font-size: 25px;
  }
  .rdi-left p {
    margin-top: 60px;
    margin-left: 0;
  }
  .read-details-item {
    margin-bottom: 40px;
  }
  .award-item {
    margin: 0;
  }
  .read-section {
    padding: 50px 0 50px 0px;
  }
  .footer-item-details {
    margin-bottom: 50px;
  }
  .footer-item {
    margin-bottom: 10px;
  }
  .market-page {
    position: sticky;
    left: 0;
    top: 0;
    background-image: url(img/main-bg.png);
    background-color: #212224;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .m-tool h1 {
    margin-bottom: 15px !important;
  }
  .offer-optn p {
    flex-direction: column;
    padding: 20px !important;
  }
  .offer-optn p a {
    margin-left: 0;
    margin-top: 25px;
    display: block !important;
  }
  .com-p p {
    display: block !important;
  }
  .tm-item {
    justify-content: center;
  }
  .m-tool p {
    margin: 20px 80px 10px 80px;
  }
  .num-text {
    text-align: center;
  }
  .company-item {
    padding-left: 0;
    justify-content: center !important;
    margin-top: 40px;
    flex-direction: column;
    text-align: center;
  }
  .number-section {
    padding: 80px 0;
  }
  .c-num p {
    width: 100%;
    text-align: center;
  }
  .number-left {
    margin-top: 0;
    text-align: center;
  }
  .ni-text h1 br {
    display: none;
  }
  .c-icon {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .c-text p {
    padding: 0 100px;
  }
  .m-bt p {
    display: block !important;
    text-align: left;
  }
  .banner-text {
    display: block;
    height: auto;
  }
  .cou-icon {
    margin-right: 20px;
    margin-bottom: 0;
  }
  .course-item {
    padding: 35px 0;
  }
  .cou-p p {
    padding: 0;
  }
  .cou-p {
    display: flex;
    align-items: center;
    margin: 20px 0;
    height: auto;
  }
  .features-section {
    padding: 50px 0;
  }
  .contact-left {
    margin: 0 100px 70px 100px;
  }
  .contact-right {
    padding-left: 0;
    margin: 0 100px;
  }
  .contant-social {
    margin-top: 30px;
  }
  .log-in-left {
    display: none;
  }
  .log-reg {
    margin-bottom: 30px !important;
  }
}
@media (max-width: 768px) {
  .account-btn {
    display: none;
  }
  .non-res-acbtn {
    display: flex !important;
    height: auto;
    margin-top: 20px;
  }
  .account-btn > a {
    font-size: 15px;
    padding: 12px 20px;
    color: #fff;
  }
  .hdr-nav ul {
    justify-content: start;
    padding-top: 50px;
  }
  .banner-bg {
    height: 450px;
    margin-top: -65px;
  }
  .banner-text h1 {
    font-size: 35px;
  }
  .banner-btn a {
    padding: 13px 20px;
    font-size: 12px;
  }
  .tool-id-text {
    position: relative;
  }
  .service-item {
    justify-content: center;
  }
  .trade-step {
    margin: 0 65px;
  }
  .trade-column {
    padding-left: 15px;
  }
  .trade-circle {
    padding: 9px 15px;
  }
  .trade-column p {
    font-size: 15px;
  }
  .trade-step-hdr p {
    margin-bottom: 0;
  }
  .plat-right-text h6 {
    margin: 0 75px;
  }
  .plat-right-text {
    text-align: center;
    margin-bottom: 30px;
  }
  .plat-connect {
    margin-top: 40px;
    text-align: center;
  }
  .platform-section {
    padding: 0 0 40px 0;
  }
  .plat-left-img img {
    margin-top: 0;
    margin-left: 0;
    padding-top: 20px;
    padding-left: 35px;
  }
  .res-h3 h3 {
    font-size: 28px;
    text-align: left;
  }
  .service-text {
    padding: 0;
    text-align: left;
  }
  .award-item {
    flex-wrap: wrap;
  }
  .award {
    width: 50%;
    margin-bottom: 30px;
  }
  .res-768 {
    width: 100% !important;
  }
  .rdi-left p {
    margin-top: 50px;
  }
  .rdi-left p::before {
    height: 80px;
    top: -30px;
    left: -11px;
  }
  .award-section {
    padding: 0 0 0 0;
  }
  .payment-btm-item {
    flex-wrap: wrap;
  }
  .pbi-all {
    width: 50%;
    margin-bottom: 30px;
  }
  .pbi-all:nth-child(3) {
    margin-bottom: 0;
  }
  .payment-btm {
    padding: 20px 0;
  }
  .f-last-text {
    display: none;
  }
  .fooetr-hdr {
    margin-bottom: 40px;
  }
  .trade-left {
    margin-bottom: 50px;
  }
  .trade-list {
    display: block;
  }
  .tl-left {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .com-p p {
    margin: 0 50px;
  }
  .ni-text h1 {
    font-size: 38px;
  }
  .f-inner {
    margin: 0 80px;
  }
  .c-icon {
    margin-bottom: 0;
  }
}
@media (max-width: 576px) {
  .hdr-row {
    flex-direction: column-reverse;
  }
  .banner-bg {
    height: 700px;
  }
  .banner-img {
    margin-top: 50px;
  }
  .tool-btn {
    text-align: left !important;
  }
  .container {
    padding: 0 15px;
  }
  .service-text {
    padding: 0 15px 0 0;
  }
  .service-item {
    justify-content: center;
    align-items: center;
  }
  .trade-step {
    margin: 0 10px;
  }
  .rdi-left {
    width: 60px;
    margin-right: 15px;
  }
  .rdi-right h6 {
    margin: 0 50px 15px 0;
  }
  .payment-optn p a {
    display: none;
  }
  .fooetr-hdr .row > .fl {
    width: 40%;
  }
  .fooetr-hdr .row > .fr {
    width: 60%;
  }
  .m-tool p {
    margin: 20px 0px 10px 0px;
  }
  .tm-img {
    margin: 0 25px;
  }
  .tm-img img {
    width: 100%;
    margin: 0;
  }
  .trust-inner {
    padding: 15px;
  }
  .c-text p {
    padding: 0;
  }
  .com-p p {
    margin: 0;
  }
  .academy-page {
    padding: 35px 20px;
    margin-top: 50px;
  }
  .demo-bg {
    padding: 40px 25px;
  }
  .contact-left {
    margin: 0 30px 70px 30px;
  }
  .contact-right {
    margin: 0 30px;
  }
  .banner-btn {
    text-align: center;
  }
  .account-btn > a {
    font-size: 12px;
    padding: 10px 15px;
  }
}
@media (max-width: 450px) {
  .banner-bg {
    height: 620px;
  }
  .trade-step-hdr {
    margin-bottom: 10px;
  }
  .trade-column-item {
    flex-direction: column;
  }
  .trade-column {
    padding-left: 0;
    width: 100%;
  }
  .trade-column-item::before {
    display: none;
  }
  .trade-step-hdr {
    margin-bottom: 15px;
  }
  .trade-column p {
    font-size: 15px;
  }
  .trade-circle {
    font-size: 18px;
  }
  .trade-circle {
    padding: 12px 17px;
  }
  .plat-right-text h3 {
    font-size: 29px;
  }
  .plat-right-text h6 {
    margin: 0 50px;
  }
  .rdi-left {
    width: 40px;
    margin-right: 15px;
  }
  .award {
    width: 100%;
  }
  .payment-all {
    width: 50% !important;
  }
  .payment-optn p {
    font-size: 12px;
    padding: 8px 6px;
  }
  .payment-optn {
    margin: 30px 0 20px 0;
    padding: 0;
  }
  .pbi-all {
    width: 100%;
  }
  .footer-social ul li {
    margin-right: 15px;
  }
  .carousel-control-next,
  .carousel-control-prev {
    width: 10%;
  }
  .offer-list table thead tr th {
    font-size: 14px;
  }
  .trade-left {
    display: block;
    padding-left: 20px;
  }
  .trade-icon {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .tm-item {
    display: block;
  }
  .tm-text {
    margin-top: 30px;
    align-items: center;
  }
  .tm-text p {
    padding: 0 25px;
    text-align: center;
  }
  .tool-hdr-left h1 {
    font-size: 30px;
  }
  .course-section {
    padding: 20px 0;
  }
  .f-inner {
    margin: 0 60px;
  }
  .tool-hdr-left h1 {
    font-size: 27px;
  }
  .demo-p p {
    margin-bottom: 15px !important;
  }
  .con-text {
    align-items: start;
  }
  .submit-btn {
    margin-top: 35px;
  }
  .footer-social ul li a {
    font-size: 18px;
  }
  .footer-social ul li {
    margin-right: 10px;
  }
  .contact-section {
    padding-bottom: 60px;
  }
  .con-text h5 {
    margin-bottom: 20px;
  }
}
@media (max-width: 380px) {
  .plat-right-text h6 {
    margin: 0 20px;
  }
  .f-inner {
    margin: 0 30px;
  }
  .contact-left {
    margin: 0 0 70px 0;
  }
  .contact-right {
    margin: 0;
  }
  .log-form {
    margin: 0 30px;
  }
  .banner-text h1 {
    font-size: 29px;
  }
  .banner-btn {
    text-align: center;
  }
}
